@using Presentation.Extensions
@using CrossCutting
@model ERP_CRM_Solution.ViewModels.UsuarioViewModel
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div id="content" class="wraper container-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="col-lg-12 col-md-12 col-sm-12">
            @*Atalhos*@
            <div class="row">
                <h3 style="color:olivedrab; font-weight:bold">Dashboard - Cadastros</h3>
                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                    <br />
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        @Html.ButtonLinkIndex(text: "Beneficiários", action: "MontarTelaBeneficiario", controller: "Beneficiario", buttonClass: "success")
                        @Html.ButtonLinkIndex(text: "Advogados", action: "MontarTelaHonorario", controller: "Honorario", buttonClass: "success")
                        @Html.ButtonLinkIndex(text: "TRFs & Varas", action: "CarregarDesenvolvimento", controller: "BaseAdmin", buttonClass: "success")
                        @Html.ButtonLinkIndex(text: "Clientes", action: "CarregarDesenvolvimento", controller: "BaseAdmin", buttonClass: "success")
                        @Html.ButtonLinkIndex(text: "Precatórios", action: "CarregarDesenvolvimento", controller: "BaseAdmin", buttonClass: "success")
                        @Html.ButtonLinkIndex(text: "Dashboard Inicial", action: "CarregarBase", controller: "BaseAdmin", buttonClass: "warning")
                    </div>
                    <br /><br />
                </div>
            </div>

            @*Estatísticas*@
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="ibox-content text-center">
                        <h1>@Model.USUA_NM_NOME.Substring(0, Model.USUA_NM_NOME.IndexOf(" "))</h1>
                        <div class="m-b-sm">
                            <img alt="image" class="img-circle" src="@Url.Content(Model.USUA_AQ_FOTO)" style="width: auto; height: auto; max-height: 90px; max-width: 90px;">
                        </div>
                        <p class="font-bold">@((String)Session["NomeGreeting"])</p>

                        <div class="text-center">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-warning pull-right">Hoje</span>
                            <h5>Resumo Cadastros</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-xs-4">
                                    <small class="stats-label">Beneficários</small>
                                    <h4>@ViewBag.Beneficiarios</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">Advogados</small>
                                    <h4>@ViewBag.Honorarios</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">Clientes</small>
                                    <h4>@ViewBag.Clientes</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <small class="stats-label">Precatórios</small>
                                    <h4>@ViewBag.Precatorios</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">Tribunais</small>
                                    <h4>@ViewBag.Trf</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*Widgets*@
            <br />
            <div class="row">
                <div class="col-lg-2">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title"  style="background-color:cornflowerblue; color:darkblue">
                            <span class="label label-success pull-right">Hoje</span>
                            <h5>Beneficiários</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">@ViewBag.Beneficiarios</h1>
                            <small>Beneficiários</small>
                            <br />
                            <br />
                            @Html.ButtonLinkIndex(text: "Ver", controller: "Beneficiario", action: "MontarTelaBeneficiario", buttonClass: "white")
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title"  style="background-color:cornflowerblue; color:darkblue">
                            <span class="label label-success pull-right">Hoje</span>
                            <h5>Advogados</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">@ViewBag.Honorarios</h1>
                            <small>Advogados</small>
                            <br />
                            <br />
                            @Html.ButtonLinkIndex(text: "Ver", controller: "Honorario", action: "MontarTelaHonorario", buttonClass: "white")
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title"  style="background-color:cornflowerblue; color:darkblue">
                            <span class="label label-success pull-right">Hoje</span>
                            <h5>Clientes</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">@ViewBag.Clientes</h1>
                            <small>Clientes</small>
                            <br />
                            <br />
                            @Html.ButtonLinkIndex(text: "Ver", controller: "Cliente", action: "MontarTelaCliente", buttonClass: "white")
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title"  style="background-color:goldenrod; color:brown">
                            <span class="label label-success pull-right">Hoje</span>
                            <h5>Precatórios</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">@ViewBag.Precatorios</h1>
                            <small>Precatórios</small>
                            <br />
                            <br />
                            @Html.ButtonLinkIndex(text: "Ver", controller: "Precatorio", action: "MontarTelaPrecatorio", buttonClass: "white")
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title"  style="background-color:goldenrod; color:brown">
                            <span class="label label-success pull-right">Hoje</span>
                            <h5>Tribunais</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">@ViewBag.Trf</h1>
                            <small>Tribunais</small>
                            <br />
                            <br />
                            @Html.ButtonLinkIndex(text: "Ver", controller: "TRF", action: "MontarTelaTRF", buttonClass: "white")
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                        <div class="ibox-title">
                            <h4>Beneficiário por Tipo</h4>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <canvas id="doughnutChartBenefTipo" height="300"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                        <div class="ibox-title">
                            <h4>Advogado por Tipo</h4>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <canvas id="doughnutChartHonoTipo" height="300"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}

@section Scripts {

    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/sparkline")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chartjs")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>



    <script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                url: '../BaseAdmin/GetDadosGraficoBeneficiarioTipo'
                , type: 'POST'
                , success: function (result) {
                var doughnutData = {
                   labels: result.labels,
                   datasets: [{
                     data: result.valores,
                     backgroundColor: result.cores
                   }]
                };
                var doughnutOptions = {
                   responsive: true
                };
                var ctx4 = document.getElementById("doughnutChartBenefTipo").getContext("2d");
                new Chart(ctx4, { type: 'doughnut', data: doughnutData, options: doughnutOptions });
              }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                url: '../BaseAdmin/GetDadosGraficoHonorarioTipo'
                , type: 'POST'
                , success: function (result) {
                var doughnutData = {
                   labels: result.labels,
                   datasets: [{
                     data: result.valores,
                     backgroundColor: result.cores
                   }]
                };
                var doughnutOptions = {
                   responsive: true
                };
                var ctx4 = document.getElementById("doughnutChartHonoTipo").getContext("2d");
                new Chart(ctx4, { type: 'doughnut', data: doughnutData, options: doughnutOptions });
              }
            });
        });
    </script>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}

